@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald/static/oswald-Regular.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Oswald-ExtraLight";
    src: url("fonts/Oswald/static/oswald-ExtraLight.ttf");
    font-weight: 200;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    text-transform: lowercase;
}
h1 {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

#bio-header {
    color: brown;
}

#skills-header {
    color: red;
}

.content {
    color: grey;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    line-height: 20px;
    font-weight: 200;
    text-transform: none;
}

.bold {font-weight: bold;}

.img-div {
    background-color: lightblue;
}
.LIGHT {
    background-color: aliceblue;
}
img {
    width: 200px;
    box-shadow: 3px 3px 7px black;
    margin: 10px;
  
}
